@import 'tailwindcss';

@theme {
  /*Sport colors*/
  --color-voley: #00bed6;
  --color-basket: #ed6a1c;
  --color-football: #fab52f;
  --color-flag: #00D6A0;

  --color-cyan-50: #dff8ff;
  --color-cyan-100: #c4f3ff;
  --color-cyan-200: #6ee8fe;
  --color-cyan-300: #16d4ed;
  --color-cyan-400: #13bfd6;
  --color-cyan-500: #0d9caf;
  --color-cyan-600: #087b8a;
  --color-cyan-700: #055e6a;
  --color-cyan-800: #024048;
  --color-cyan-900: #012429;
  --color-cyan-950: #00161a;
  --color-cyan-alpha-40: rgba(0, 190, 214, 0.4);

  --color-teal-50: #e0f6fa;
  --color-teal-100: #b3e6ee;
  --color-teal-200: #80d3e0;
  --color-teal-300: #4dbfd1;
  --color-teal-400: #26a7bb;
  --color-teal-500: #008fa5;
  --color-teal-600: #007388;
  --color-teal-700: #00596a;
  --color-teal-800: #003b4d; /* base */
  --color-teal-900: #00232d;
  --color-teal-950: #00141a;

  --color-amber-50: #fff8e1;
  --color-amber-100: #ffecb3;
  --color-amber-200: #ffe082;
  --color-amber-300: #ffd54f;
  --color-amber-400: #ffca28;
  --color-amber-500: #ffc107;
  --color-amber-600: #ffb300;
  --color-amber-700: #ffa000;
  --color-amber-800: #fab52f; /* base */
  --color-amber-900: #ff8f00;
  --color-amber-950: #7c5a00;

  --font-family-inter: 'Inter', sans-serif;


  /*Animations*/

  --animate-fade-in: fade-in 0.4s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 0.4s ease-out;

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  --animate-scale-in: scale-in 0.4s ease-out;

  @keyframes scale-in {
    0% {
      transform: scale(0.3);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-scale-out: scale-out 0.4s ease-out;

  @keyframes scale-out {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

}

@import './utilities.css';

@import './badges.css';
@import './modal.css';

@import './header.css';
@import './footer.css';

@import './highlights.css';
@import './newsletter.css';
@import './sponsors.css';
@import './news.css';

