@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  /* Colors */

  --color-tarawera-50: #e9fffe;
  --color-tarawera-100: #c9fffc;
  --color-tarawera-200: #99fffd;
  --color-tarawera-300: #54ffff;
  --color-tarawera-400: #07f3ff;
  --color-tarawera-500: #00d5ef;
  --color-tarawera-600: #00a9c9;
  --color-tarawera-700: #0086a1;
  --color-tarawera-800: #086b82;
  --color-tarawera-900: #0c586d;
  --color-tarawera-950: #003b4d;

  --color-scooter-50: #ebffff;
  --color-scooter-100: #cefdff;
  --color-scooter-200: #a2f8ff;
  --color-scooter-300: #63f0fd;
  --color-scooter-400: #1cdef4;
  --color-scooter-500: #00bed6;
  --color-scooter-600: #039ab7;
  --color-scooter-700: #0a7b94;
  --color-scooter-800: #126278;
  --color-scooter-900: #145265;
  --color-scooter-950: #063646;
  --color-scooter-alpha-40: rgba(0, 190, 214, 0.4);

  --color-yellow-50: #fffaeb;
  --color-yellow-100: #fef0c7;
  --color-yellow-200: #fcdf8b;
  --color-yellow-300: #fbc74e;
  --color-yellow-400: #fab52f;
  --color-yellow-500: #f4900c;
  --color-yellow-600: #d86a07;
  --color-yellow-700: #b3490a;
  --color-yellow-800: #91380f;
  --color-yellow-900: #772f10;
  --color-yellow-950: #451603;

  --color-blaze-orange-50: #fef6ee;
  --color-blaze-orange-100: #fdecd7;
  --color-blaze-orange-200: #fad4ae;
  --color-blaze-orange-300: #f6b67b;
  --color-blaze-orange-400: #f18d46;
  --color-blaze-orange-500: #ed6a1ccc;
  --color-blaze-orange-600: #df5517;
  --color-blaze-orange-700: #b93f15;
  --color-blaze-orange-800: #933319;
  --color-blaze-orange-900: #772c17;
  --color-blaze-orange-950: #40140a;

  /*Fonts*/

  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-oswald: 'Oswald', sans-serif;

  /*Animations*/

  --animate-fade-in: fade-in 0.4s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 0.4s ease-out;

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  --animate-scale-in: scale-in 0.4s ease-out;

  @keyframes scale-in {
    0% {
      transform: scale(0.3);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-scale-out: scale-out 0.4s ease-out;

  @keyframes scale-out {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }
}

/* Utilities */

.h-carousel1 {
  height: calc(100vh - 122px);
}

.elementor-custom-container {
  @apply !container !mx-auto !px-4;
}

.bg-mainColor {
  @apply bg-scooter-500;
}

.text-mainColor {
  @apply text-scooter-500;
}

.bg-gradient-to-b-mainColor {
  @apply bg-gradient-to-b from-scooter-500 to-tarawera-950;
}

.bg-gradient-to-t-mainColor {
  @apply bg-gradient-to-t from-scooter-500 to-transparent;
}

/*Menu*/

.bg-shape-menu {
  @apply bg-tarawera-500 absolute top-0 w-[245px] h-[140px] z-10;
  left: calc(50% - 28px / 2);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  zoom: 0.7;
}

@media (min-width: 1024px) {
  .bg-shape-menu {
    left: calc(50% - 28px / 2);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    zoom: 0.7;
  }
}

@media (min-width: 1280px) {
  .bg-shape-menu {
    left: calc(50% - 258px / 2);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    zoom: 1;
  }
}

#menu-menu-1,
#menu-menu-2 {
  @apply flex gap-4 items-center font-family-oswald uppercase text-white text-base;
}

#menu-menu-1 .menu-item {
  @apply border-b border-transparent;
}

#menu-menu-1 .menu-item.current_page_item,
#menu-menu-2 .menu-item.current_page_item {
  @apply text-scooter-700 border-scooter-700;
}

#menu-mobile-1 li,
#menu-mobile-2 li {
  @apply border-b border-tarawera-950 px-4 py-1 font-family-oswald uppercase text-base;
}

#menu-mobile-1 li.current-menu-item,
#menu-mobile-2 li.current-menu-item {
  @apply bg-tarawera-500 text-white;
}

#menu-mobile-2 li:last-child {
  @apply border-b-0;
}

#menu-sport {
  @apply flex gap-4 items-center justify-center font-family-oswald font-medium uppercase text-white text-base;
}

#menu-sport .menu-item {
  @apply border-b border-transparent relative;
}

#menu-sport .menu-item.current_page_item {
  @apply text-tarawera-950 border-tarawera-950;
}

#menu-sport .sub-menu {
  @apply absolute -top-0 -left-6 w-max pt-10 z-10 hidden;
}

#menu-sport .sub-menu::after {
  content: '';
  @apply absolute top-8 left-12 w-5 h-5 bg-tarawera-950 rotate-45;
}

#menu-sport .sub-menu li {
  @apply px-4 py-2 bg-tarawera-950;
}

#menu-sport li.menu-item-has-children:hover .sub-menu {
  @apply block;
}

/*Carousel 1*/

.swiperCarousel1-pagination .swiper-pagination-bullet,
.swiperCarousel2-pagination .swiper-pagination-bullet {
  @apply w-2.5 h-2.5 bg-tarawera-950 !opacity-100;
}

.swiperCarousel1-pagination .swiper-pagination-bullet-active,
.swiperCarousel2-pagination .swiper-pagination-bullet-active {
  @apply w-2.5 h-2.5 bg-scooter-500;
}

/*Modal*/

.modal {
  @apply hidden z-50;
}

.modal.is-open {
  @apply block;
}

.modal[aria-hidden='false'] .modal__overlay {
  @apply animate-fade-in;
}

.modal[aria-hidden='false'] .modal__container {
  @apply animate-scale-in;
}

.modal[aria-hidden='true'] .modal__overlay {
  @apply animate-fade-out;
}

.modal[aria-hidden='true'] .modal__container {
  @apply animate-scale-out;
}

.modal__overlay {
  @apply fixed inset-0 bg-black/80 flex justify-center items-center z-50;
}

.modal__container {
  @apply p-4 max-h-[100vh] overflow-y-auto max-w-[800px] mx-auto;
}

.modal__close:before {
  content: '\2715';
}

/*Newsletter*/

.formNewsletter {
  @apply md:!flex !flex-col md:!flex-row !items-center !gap-0 !w-full;
}

.formNewsletter .gform-body,
.formNewsletter_wrapper {
  @apply !w-full;
}

.formNewsletter input {
  @apply !w-full;
}

.gform-theme--foundation .gfield--width-eleven-twelfths {
  @apply !col-span-12;
}

.formNewsletter .gform-footer {
  @apply !mt-0;
}

.formNewsletter input[type='email'] {
  @apply !border-[#003B4D] !rounded-none;
}

.formNewsletter input[type='submit'] {
  @apply !border-[#003B4D] !bg-[#003B4D] !text-white !rounded-none !mt-2 md:!mt-0 !font-family-oswald !font-bold;
}

/*Calendario*/

.calendarGameEvents {
  @apply !p-0;
}

.calendarGameEvents table {
  @apply !w-full !border-0;
}

.calendarGameEvents .sp-calendar-wrapper {
  @apply !border !border-[#003B4D] !w-full;
}

.calendarGameEvents .sp-table-caption {
  @apply !bg-scooter-500 font-family-oswald !text-white !capitalize !text-2xl md:!text-4xl !border-0;
}

.calendarGameEvents thead tr th {
  @apply !bg-tarawera-950 !text-white !font-normal !text-xl md:!text-2xl !py-3 !border !border-scooter-500;
}

.calendarGameEvents tbody tr td {
  @apply !bg-gray-200 !text-base !border !border-gray-400;
}

.calendarGameEvents tbody tr td.pad {
  @apply !bg-white;
}

.calendarGameEvents tbody tr td#today {
  @apply !bg-scooter-500 !text-white;
}

.calendarGameEvents tbody tr td a {
  @apply absolute w-full h-full bg-[#FAB52F] inset-0 flex justify-center items-center !text-white;
}

.calendarGameEvents tbody tr td a::before,
.calendarGameEvents tfoot {
  @apply !hidden;
}

/*Tabla*/

.tablePosition table thead tr {
  @apply !border-none;
}

.tablePosition table thead tr th {
  @apply !bg-gradient-to-b !from-[#00BED6] !to-[#003B4D] !text-white !font-family-oswald !uppercase !text-lg !py-2 !border-none;
}

.tablePosition table tbody tr td {
  @apply !bg-white !text-base !font-family-roboto !text-tarawera-950 !border-t-0 !border-l-0 !border-r-0 !border-b !border-tarawera-950 !py-2;
}

.tablePosition .sp-league-table-link {
  @apply !py-2 !px-2;
}

.tablePosition .sp-league-table-link a {
  @apply !text-tarawera-950 !font-family-oswald !text-lg !uppercase !text-center !font-normal !block !bg-scooter-500 !py-3;
}

.tablePosition .sp-template-league-table {
  @apply !bg-white;
}

.tablePosition .widgettitle {
  @apply font-family-oswald uppercase text-tarawera-950 font-medium text-center mb-5 text-xl md:text-3xl;
}

/*Formulario Busqueda*/

.search-form .search-field {
  @apply bg-gray-200 px-4 py-2 block w-full rounded-md outline-none text-tarawera-950 font-family-roboto;
}

.search-form .search-submit {
  @apply bg-scooter-500 px-4 py-2 rounded-md text-white font-family-oswald font-bold mt-4 w-full md:w-auto;
}

.searchResults h2 {
  @apply !text-2xl md:!text-4xl !font-bold !font-family-oswald !text-tarawera-950 !mb-4;
}

/*Formulario contacto*/

.contactForm .gform-theme--foundation .gform_fields {
  @apply !gap-y-0;
}

.contactForm input[type='text'],
.contactForm input[type='email'],
.contactForm input[type='tel'],
.contactForm textarea {
  @apply !border !border-tarawera-950 !block !w-full !p-2 !mb-4 !rounded-none font-family-oswald uppercase font-medium !outline-none;
}

.contactForm .gform_heading {
  @apply !hidden;
}

.contactForm input[type='submit'] {
  @apply !border !border-scooter-500 !bg-scooter-500 !text-tarawera-950 !uppercase !py-2 !px-8 !mb-4 !font-family-oswald !font-normal;
}

.contactForm input[type='text']::before {
  content: '<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><mask id="mask0_41_13735" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40"><rect width="40" height="40" fill="#003B4D"/></mask><g mask="url(#mask0_41_13735)"><path d="M19.9974 20C18.1641 20 16.5946 19.3472 15.2891 18.0417C13.9835 16.7361 13.3307 15.1667 13.3307 13.3334C13.3307 11.5 13.9835 9.93058 15.2891 8.62502C16.5946 7.31946 18.1641 6.66669 19.9974 6.66669C21.8307 6.66669 23.4002 7.31946 24.7057 8.62502C26.0113 9.93058 26.6641 11.5 26.6641 13.3334C26.6641 15.1667 26.0113 16.7361 24.7057 18.0417C23.4002 19.3472 21.8307 20 19.9974 20ZM6.66406 33.3334V28.6667C6.66406 27.7222 6.90712 26.8542 7.39323 26.0625C7.87934 25.2709 8.52517 24.6667 9.33073 24.25C11.053 23.3889 12.803 22.7431 14.5807 22.3125C16.3585 21.882 18.1641 21.6667 19.9974 21.6667C21.8307 21.6667 23.6363 21.882 25.4141 22.3125C27.1918 22.7431 28.9418 23.3889 30.6641 24.25C31.4696 24.6667 32.1154 25.2709 32.6016 26.0625C33.0877 26.8542 33.3307 27.7222 33.3307 28.6667V33.3334H6.66406Z" fill="#00BED6"/></g></svg>';
  margin-right: 0.5em; /* Add some spacing between the icon and label */
}

/*
Pagination
*/

.pagination {
  @apply py-6 w-max mx-auto;
}

.pagination .page-numbers {
  @apply bg-tarawera-950 text-white py-2 px-4 md:mx-1 rounded-sm;
}

.pagination .current {
  @apply bg-scooter-500;
}

/*Estilos segun el sitio*/

.badge-sport {
  @apply bg-yellow-400 w-max px-2 py-1 mb-5;
}

/*Newsletter*/

.newsletterFooter .newsletterFooter__content {
  @apply bg-white w-full p-5 rounded-br-md md:absolute bottom-0 md:-bottom-28;
}

/*Menu Sport*/

/*Voley*/

.uniliga-voley .bg-mainColor {
  @apply bg-scooter-500;
}

.uniliga-voley .text-mainColor {
  @apply text-scooter-500;
}

.uniliga-voley .bg-mainColor {
  @apply bg-scooter-500;
}

.uniliga-voley .bg-gradient-to-b-mainColor {
  @apply bg-gradient-to-b from-scooter-500 to-tarawera-950;
}

.uniliga-voley .bg-gradient-to-t-mainColor {
  @apply bg-gradient-to-t from-scooter-500 to-transparent;
}

.uniliga-voley .menuSport {
  @apply bg-scooter-500;
}

.uniliga-voley .badge-sport {
  @apply bg-yellow-400;
}

.uniliga-voley .swiperCarousel1-pagination .swiper-pagination-bullet-active,
.uniliga-voley .swiperCarousel2-pagination .swiper-pagination-bullet-active {
  @apply w-2.5 h-2.5 bg-scooter-500;
}

.uniliga-voley .calendarGameEvents .sp-table-caption {
  @apply !bg-scooter-500;
}

.uniliga-voley .calendarGameEvents thead tr th {
  @apply !border-scooter-500;
}

.uniliga-voley .tablePosition table thead tr th {
  @apply !bg-gradient-to-b !from-[#00BED6] !to-[#003B4D];
}

.uniliga-voley .tablePosition .sp-league-table-link a {
  @apply !bg-scooter-500;
}

.uniliga-voley .search-form .search-submit {
  @apply bg-scooter-500;
}

.uniliga-voley .contactForm input[type='submit'] {
  @apply !border-scooter-500 !bg-scooter-500;
}

.uniliga-voley .pagination .current {
  @apply bg-scooter-500;
}

.uniliga-voley .newsletterFooter .newsletterFooter__content {
  @apply bg-scooter-500 w-full p-5 rounded-br-md md:absolute bottom-0 md:-bottom-28;
}

/*Baloncesto*/

.uniliga-baloncesto .bg-mainColor {
  @apply bg-blaze-orange-500;
}

.uniliga-baloncesto .text-mainColor {
  @apply text-blaze-orange-500;
}

.uniliga-baloncesto .bg-gradient-to-b-mainColor {
  @apply bg-gradient-to-b from-blaze-orange-500 to-blaze-orange-900;
}

.uniliga-baloncesto .bg-gradient-to-t-mainColor {
  @apply bg-gradient-to-t from-blaze-orange-500 to-transparent;
}

.uniliga-baloncesto .menuSport {
  @apply bg-blaze-orange-500;
}

.uniliga-baloncesto .badge-sport {
  @apply bg-blaze-orange-500;
}

.uniliga-baloncesto .swiperCarousel1-pagination .swiper-pagination-bullet-active,
.uniliga-baloncesto .swiperCarousel2-pagination .swiper-pagination-bullet-active {
  @apply w-2.5 h-2.5 bg-blaze-orange-500;
}

.uniliga-baloncesto .calendarGameEvents .sp-table-caption {
  @apply !bg-blaze-orange-500;
}

.uniliga-baloncesto .calendarGameEvents thead tr th {
  @apply !border-blaze-orange-500;
}

.uniliga-baloncesto .tablePosition table thead tr th {
  @apply !bg-gradient-to-b !from-[#ed6a1ccc] !to-[#40140a];
}

.uniliga-baloncesto .tablePosition .sp-league-table-link a {
  @apply !bg-blaze-orange-500;
}

.uniliga-baloncesto .search-form .search-submit {
  @apply bg-blaze-orange-500;
}

.uniliga-baloncesto .contactForm input[type='submit'] {
  @apply !border-blaze-orange-500 !bg-blaze-orange-500;
}

.uniliga-baloncesto .pagination .current {
  @apply bg-blaze-orange-500;
}

.uniliga-baloncesto .newsletterFooter .newsletterFooter__content {
  @apply bg-blaze-orange-500 w-full p-5 rounded-br-md md:absolute bottom-0 md:-bottom-28;
}

